doctype html 
html(lang='en')
head 
    title Product Management System 
body(style="background-color: azure;")
    h1(style="text-align: center;") Welcome to Product Management System
    hr
    h3(style="text-align: center;") Login as an Admin to register and manage products
    div(style="display: flex;  justify-content: center;")
        a(href="/login")
            button(type="button" style="border: none; border-radius: 10px; padding: 15px 30px; color: white; font-size: 15px; background-color: green; cursor: pointer;") Admin Login 
    br
    br
    h3(style="text-align: center;") Login as a User to search products by name or category
    div(style="display: flex;  justify-content: center;")
        a(href="/login")
            button(type="button" style="border: none; border-radius: 10px; padding: 15px 30px; color: white; font-size: 15px; background-color: green; cursor: pointer;") User Login 
    br
    br
    hr
    
        