doctype html 
head
    title EMI Calculator
    link(rel="stylesheet" href="styles.css") 
body(style="background-color: azure;")
    div(style="display: flex; justify-content: center;")
        a(href="/emi")
            button(type="submit") CALCULATE EMI
    hr

